body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    background-color: #81ecec;
    color: #2d3436;
}

#header {
    text-align: center;
    font-size: 2rem;
    color: #00cec9;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
}

.wrapper {
    background-color: #ffeaa7;
    max-width: 400px;
    margin: 50px auto;
    padding: 40px 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 5px 10px 18px #829eb3;
    border-radius: 4px;
}

.row {
    display: flex;
}

form, input, button {
    border: none;
}

form {
    width: 100%;
}

input[type=text] {
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    background-color:transparent;
    border-bottom: 1px solid #fff;
    padding: 0 10px;
    color: #2d3436;
}

input[type=text]:focus {
    background-color: #fff9e6;
    border: none;
    outline: none;
    color: #2d3436;
}

button {
    width: 100%;
    margin-top: 20px;
    height: 40px;
    background-color: #fdcb6e;
    color: #fff;
    font-size: 1rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
}

button:focus {
    outline: none;
}

button:hover {
    background-color: #fcbe4c;
}

.todo-list {
    flex-direction: column;
    margin-top: 40px;
    list-style: none;
    margin: 0;
    padding: 0;
}
.item {
    padding: 10px;
    background-color: #ff7675;
    color: #d63031;
    margin-top: 10px;
}

.item span {
    float: right;
}


#footer {
    text-align: center;
    font-size: 0.7rem;
    color: #00cec9;
    letter-spacing: 0.05rem;
}